*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    height: 100%;
    width: 100%;
    display: flex;
}

a{
    text-decoration: none;
    color: inherit;
}

.vertical_menu{
    width: 20%;
    height: 100vh;
    background-color: rgb(31, 28, 63);
    display: block;
    text-align: center;
}
.vertical_menu .dash_title{
    padding: 20px 0px;
}

.vertical_menu .dash_title img{
    width: 20%;
    height: 20%;
    background-color: aliceblue;
    border-radius: 50%;
}
.dash_title h3{
    font-size: 1.5vw;
    color: aliceblue;
}
.dash_title p{
    font-size: 1vw;
    color: rgb(215, 218, 221);
}
.dash_title button{
    margin-top: 8px;
    padding: 8px 18px;
    background-color: rgb(52, 189, 70);
    color: white;
    border: none;
    border-radius: 4px;
}

.vertical_menu .menu{
    margin: 30px 0;
}

.menu .menu_list{ 
    margin: 12px auto;
    height: 26px;
    width: 50%;
    display: flex;
    border: 0.1px solid rgb(204, 199, 199);
    border-radius: 4px;
}

.menu_list a img{
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    height: 100%;
    background-color: aliceblue;
}

.menu_list h3{
    font-size: 1.4vw;
    color: aliceblue; 
    margin-left: 34px; 
    align-self: center;
}

.menu_footer{
    margin: 60px 0 0;
}

.menu_footer .footer-card{
    margin: auto;
    background-color: white;
    width: 60%;
    height: auto;
    padding: 12px;
    border-radius: 5px;
    box-shadow: 2px 2px 4px black, 3px 3px 6px rgb(31, 28, 63);
}

.menu_footer a img{
    width: 50%;
    height: 40%;
    margin: 8px 0 6px;
    border-radius: 50%;
}
.menu_footer h3{
    font-size: 1.4vw;
    letter-spacing: 1px;
}
.menu_footer h5{
    font-size: 0.9vw;
    color: rgb(92, 89, 89);
}
.menu_footer h4{
    font-size: 1.2vw;
    font-weight: 500px;
    color: rgb(41, 32, 121);
}


section .contents{
    background-color: rgb(201, 197, 197);
    width: 80%;
    height: 100vh;
}

